.noScript{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input{
    font-size: 200%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

button{
    font-size: 350%;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-50%, -50%);
}